[user]
	email = drozdpk@gmail.com
	name = Patryk

[core]
    pager = delta  --side-by-side --line-numbers

[interactive]
    diffFilter = delta 

[delta]
    navigate = true
    dark = true

[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
